/* font for page */
@font-face {
    font-family: raleway;
    src: url("Raleway-Regular.woff");
}

/* entire page background color */
body {
    background-color: #d0dff5;
}

/* specify font for paragraphs and lists */
p {
    font-family: raleway;
}

li {
    font-family: raleway;
}

/* style section line breaks */
hr {
    height: 1px;
    border: none;
    border-style: dotted;    
    border-color: #a1bde6;
    border-width: 4px;

}

/* style for title and all headers */
header {
    color: #7c9bbf;
    margin: 5%;
    margin-top: 10px;
    margin-bottom:50px;
    text-align: center;
}

h1 {
    color: hsl(212, 42%, 33%);
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    position: relative;
    font-family: raleway;
}

h1:active {
    color: white;
}

.recordedby {
    text-decoration: underline wavy;
}

/* style title header line */
.headerline {
    height: 1px;
    border-style: groove;
    border-width: 5px;
    border-radius: 100%;
}

/* style header line */
.break {
    height: 1px;
    background-color: #9db9e3;
    border: none;
}

/* style navigation bar */
nav{
    margin: auto;
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

a {
    color: rgb(50,107,168);
    font-family: raleway;
}

a:hover {
    color: #94b4d6;
}

main {
    margin-left: 2%;
}

/* specific styles for section headers */
h2 {
    color: #507bad;
    position: sticky;
    font-family: raleway;
}

h2:active {
    color: white;
}

h3 {
    font-family: raleway;
}

/* style for date and attendance sections*/
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    background-color: #deeafc;
}

/* format agenda sections */
.logistics {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    place-items: center;
    justify-content:space-around;
}

/* format image section */
img {
    padding-left: 1cm;
    padding-bottom: 1cm;
    max-width: 50%;
    max-height: 50%;
    display: inline;
}

/* format video section */
video {
    width: 50%;
}

/* format audio section */
audio {
    padding: 0 0 1cm;
}

/* format form section */
form {
    background-color: white;
    font-family: raleway;
}

/* media query */
@media screen and (max-width: 1000px) {
    body {
        background-color: #d0f5f1;
    }

    header {
        color: #7cbfb2;
    }

    h1 {
        color: hsl(179, 42%, 33%);
    }

    .stats {
        background-color: #defafc;
    }

    h2 {
        color: #50ada7;
    }

    .break {
        background-color: #9de3e0;
    }

    hr {
        border-color: #a1e6e0;
    }

    a {
        color: rgb(50, 168, 160);
    }
}
